*{
	font-family: 'Hind Vadodara', sans-serif;

}
html, body {
  height: 100% ;
}



/*CONTAINER*/

.contenedor-general{
	height: 100%;
	width: 100%;
	background-color: #f2f2f2;
}

/*NAV*/

.login-nav-btn{
	transition: all 0.3s;
	padding-top: 10px;
	padding-bottom: 10px;
}
.mi-nav{
	height: 6vh;
}

.login-nav-btn:hover{
	background-color: #484848;
}

/*CONTAINER INFERIOR*/
.container-inferior{
	height: 300vh;
}

/*CARRUSEL*/
.carousel-item{
	height: 94vh;
	background: #777;
}

.imagen{
	position: relative;
	bottom: 100px;
}
.imagen6{
	position: relative;
	bottom: 370px;
}
.imagen7{
	position: relative;
	bottom: 300px;
}
@media only screen and (min-width: 1920px) {
	.imagen6{
		position: relative;
		bottom: 550px;
	}
	.imagen7{
		position: relative;
		bottom: 400px;
	}
}

/*CONTAINER MEDIO*/
.container-medio{
	height: 100vh;
	background-color: #b3a3a3;
}

/*CONTAINER INFERIOR*/
.container-inferior{
	height: 100vh;
	background-color: #9a5353;
}
.coloreado{
	position: relative;
	overflow: hidden;
	background-image: url("imagenWall1.jpg");
	
}

.text-div-dos{
	font-family: 'Bebas Neue', cursive;
	color :beige;
	font-style: italic;
}